<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 파비콘(favicon) 설정 링크 -->
<link rel="shortcut icon" href="http://localhost/images/favicon.ico"/>

<!-- 부트스트랩  CDN -->    
<link rel="stylesheet" type="text/css"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"/>
<style type="text/css">

</style>

<!-- JQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js">
</script>

<script type="text/javascript">
$(function(){
	
}); //ready
</script>

</head>
<body>
<h2>회원정보</h2>
<table class="table table-hover">
<thead>
	<tr>
		<th>번호</th>
		<th>이름</th>
		<th>나이</th>
	</tr>
</thead>
<tbody>
	<tr th:each="data, ind : ${ data }">
		<td th:text="${ ind.count }"></td>
		<td th:text="${ data.name }"></td>
		<td th:text="${ data.age }"></td>
	</tr>
</tbody>
</table>

</body>
</html>