<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 파비콘(favicon) 설정 링크 -->
<link rel="shortcut icon" href="http://localhost/images/favicon.ico"/>

<!-- 부트스트랩  CDN -->    
<link rel="stylesheet" type="text/css"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"/>
<style type="text/css">

</style>

<!-- JQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js">
</script>

<script type="text/javascript">
$(function(){
	
}); //ready
</script>

</head>
<body>

<span th:text="${ data.name }"></span>님의 정보가
<div th:if="${ addResult }" style="color: #0000FF;">
입력 되었습니다.
</div>

<div th:unless="${ addResult }" style="color: #FF0000">
입력되지 않았습니다.<br>
잠시 후에 다시 시도해주세요.
</div>

<a href="/">메인</a>

</body>
</html>